<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	<add id="Vky_Test1::manager" title="Grid Manager" 
        module="Vky_Test1" sortOrder="10" resource="Vky_Test1::manager"/>
    	<add id="Vky_Test1::add_row" title="Grid Manager" 
        module="Vky_Test1" sortOrder="20" parent="Vky_Test1::manager" action="grid/test1" resource="Vky_Test1::add_row"/>
    </menu>
</config>